{% extends 'base.html' %}

{% block title %}
Playlist - {{ obj.title }}
{% endblock title %}

{% load static %}

{% block content %}
{% if user.is_superuser %}
<div class="container my-3">
</div>
{% endif %}
<div class="container my-5">
    <h1 id="title">{{ obj.title }}</h1>
    <hr />
    {% for video in videos %}
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ video.thumbnail_image.url }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <p style="font-size: 25px;" class="card-title"><a href="/videos/{{video.id}}/">{{ video.title }}</a></p>
                <p>
                Views : {{ video.views }}
                </p>
              <p class="card-text"><small class="text-muted">On {{ video.date }}</small></p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    {% if request.user.is_superuser %}
    <button class="btn btn-danger" id="deleteBtn" data-id="{{ obj.id }}">Delete Playlist</button>
    {% endif %}
    {% if request.user.is_superuser %}
    <div class="card my-3">
      <div class="card-body">
        <h3>Update</h3>
        <form id="form">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
    {% endif %}
    {% if request.user.is_superuser %}
   <div class="card">
     <div class="card-body">
       <h3>Add videos</h3>
       <p>Add videos to this playlist</p>
       <a href="{% url 'add-videos' obj.id %}" class="btn btn-secondary">Add videos +</a>
     </div>
   </div>
    {% endif %}
</div>
{% endblock content %}

{% block js %}
<script src="{% static '/js/playlists/videos.js' %}"></script>
{% endblock js %}