{% extends 'base.html' %} 
{% block title %} {{ obj.title }} {% endblock title %}
{% load static %} 
{% block css %}
<style>
  .iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
  }
  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .description {
    font-size: 25px;
  }

  #notLoggedIn {
    background-color: silver;
    height: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    color: white;
  }
</style>
{% endblock css %} 
{% block content %} 
{% if user.is_superuser %}
<div class="container my-5"></div>
{% endif %}
<div class="container my-5" id="data" data-id="{{ obj.id }}">
  <div id="root">
    <h2>{{ obj.title }}</h2>
    {% if user.is_authenticated %} 
    {% include 'components/video.html' %} 
    {% else %}
    <div class="container" id="notLoggedIn">
      <div class="text">
        <p>
          <a href="{% url 'accounts-login' %}" class="btn btn-primary">Login</a>
          to watch this video.
        </p>
      </div>
    </div>
    {% endif %}
    <p class="description">{{ obj.description | safe }}</p>
    <p>Views : {{ obj.views }}</p>
    <p class="text-muted">{{ obj.date }}</p>
  </div>
  {% if user.is_superuser %}
  <button class="btn btn-danger" id="delete">Delete</button>
  {% endif %} 
 {% if user.is_superuser %}
  <div class="card my-3">
    <div class="card-body">
      <form id="form" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
        {{ form.as_p }}
        <button class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>
  {% endif %}
</div>
{% endblock content %} 

{% block js %}
<script src="{% static '/js/videos/details.js' %}"></script>
{% endblock js %}
