{% extends 'base.html' %}

{% load static %}

{% block title %}
Video membership - Home
{% endblock title %}

{% block css %} 
<link rel="stylesheet" href="{% static '/css/home.css' %}" />
{% endblock css %}

{% block content %}
<div class="banner">
<div class="text bg-secondary">
    <h1>Video membership</h1>
    <p>Learn to build real projects with code.</p>
    {% if not user.is_authenticated %}
    <div class="btn-group">
        <a href="{% url 'signup' %}" class="btn btn-success">Sign up</a>
        <a href="{% url 'accounts-login' %}" class="btn btn-primary">Login</a>
    </div>
    {% endif %}
</div>
</div>
{% endblock content %}

{% block footer %}
{% include 'components/footer.html' %}
{% endblock footer %}