.banner {
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1553166272-e69910ab5ae1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  background-position: center center;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}

.text {
  width: auto;
  padding: 15px;
}
